
body{
    margin:0px;
    background:#fff;
    font-family: sans-serif ,serif;
    text-align: center;
}
#titel {
    height:60px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    position: fixed;
    top: 0;
    float: left;
    clear: none;
    padding-right: 12px;
    margin: 0 0 -0.5857em;
    color: rgba(0, 0, 0, 0.6);;
    font-size: 0.875em;
    line-height: 2.3;
    vertical-align: baseline;
}

    
}

#Wrapper{
     top: 50%;
    color: whitesmoke;
   text-align: center;
    z-index: 2;
}

p{
   display: block;
    margin-top: 10em;
    margin-bottom: 1em;
    margin-left: 20em;
    margin-right: 0;
    height: 200px;
    width: 50%;
    line-height: 2;
    
}